@font-face {
  font-family: 'SFont';
  src: url('https://fonts.google.com/specimen/Pacifico') format('Pacifico'),
       url('https://fonts.google.com/specimen/Shadows+Into+Light') format('Shadows+Into+Light');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SFont', sans-serif;
}
