@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pacifico', sans-serif;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}
